<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("content", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("content") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("createdAt", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("createdAt") %>
   </div>
</div>
