<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="<%= path %>stylesheets/bootstrap.css">
        <link rel="stylesheet" href="<%= path %>stylesheets/style.css">

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script type="text/javascript" src="<%= path %>javascripts/bootstrap.js">
        </script>
        <script type="text/javascript" src="<%= path %>javascripts/rails.js">
        </script>
        <script type="text/javascript" src="<%= path %>javascripts/application.js">
        </script>

        <%- csrf_meta_tag() %>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Project name</a>
                </div>
            </div>
        </div>
            
        <div class="container">
            <% var flash = request.flash('info').pop(); if (flash) { %>
                <div class="alert alert-info">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% } %>
            
            <% flash = request.flash('error').pop(); if (flash) { %>
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert">×</a>
                    <%- flash %>
                </div>
            <% }; %>
            
            <%- body %>
            
            <hr />
            <footer>
                <p>&copy; Company 2012</p>
            </footer>
        </div>
    </body>
</html>
